.firstsectionBP,
.secondsectionBP,
.thirdsectionBP,
.fourthsectionBP {
  background-color: #fff;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 8px;
  margin-top: 12px;
  height: 182px;
  display: flex;
  flex-direction: column;
}

.thirdsectionBP {
  height: 300px;
}
.head {
  background-color: rgb(66, 133, 244);
  color: rgba(0, 0, 0, 1);
  height: 10px;
  top: -1px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.title {
  font-size: 20px;

  margin: 10px;
}
.feedback {
  font-size: 20px;

  margin: 10px;
  padding-left: 10px;
}
