body {
  font-family: Arial;
  height: 1500px;
  background-color: lightblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bluePrint {
  background-color: rgb(32, 33, 36);
  height: 1000px;
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
